---
import "../style/stylesheet.css";
import { SITE_TITLE } from "../config.js";

const { title, pageType } = Astro.props;

let fullTitle = `三三｜${SITE_TITLE}`;

if (pageType === 'post') {
  fullTitle = `三三｜文章：${title}`;
} else if (pageType === 'tag') {
    fullTitle = `三三｜标签：${title}`;
} else if (pageType === 'home') {
    fullTitle = '三三｜主页';
}
---

<head>
  <meta charset="utf-8" />

  <meta name="generator" content={Astro.generator} />
  <meta name="viewport" content="width=device-width,initial-scale=1" />

  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="alternate" type="application/rss+xml" title={SITE_TITLE} href="/rss.xml" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.4/dist/katex.min.css" crossorigin="anonymous" />

  <title>{fullTitle}</title>

  <meta name="title" content={fullTitle} />
</head>
